/*PASTER UNO*/
.introduction{
    display: grid;
    grid-template-columns: 50% 50%;
    
}
body{
    background: #fbf8f4;
}

.content-uno> img{
    width: 75%;
    margin-top: 20%;
    margin-left: 10%;
} 
.content-dos{
    margin-top: 20%;
    width: 500px;

}
p{
    font-size: 1.5rem;
    font-weight: 500;
}

/*NOSOTRAS*/
.subtitulo-nosotras{
    font-family: 'phase';
    color: #0040D0;
    font-size: 6.2rem;
    
}

.col-nosotras, .col-vin{
    text-align: center;
    padding-top: 40px;
}

.icon-nos{
    text-decoration: none;
    color: #0040D0;
    font-size: 2rem;
    padding-left: 2rem;

}

.icon-nos:hover{
    color: #dafea4;
}
.col > h3{
    color: #0040D0;
    padding-top: 30px;
}


.col >p{
    padding-top: 3rem;

}


/*VINCULOS*/
.col-vin{
    background: radial-gradient(circle farthest-side, #DAFEA4, #fbf8f4);
    border: 5px solid #0040D0;
    border-radius: max(0px, min(30px, calc((100vw - 100%) * 9999)));
    padding: 30px 20px 20px 30px;
    
}

.row-enc > div{
    margin-left: 20px;
}

 .titulo-vin{
    font-family: 'phase';
    color: #0040D0;
    font-size: 5rem;
    text-decoration: none;
}

.col-vin:hover{
    background: radial-gradient(circle farthest-side, #0040D0, #fbf8f4);

   
}
.titulo-vin:hover{
    color: #DAFEA4;
    text-decoration: none;
}

