

@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap' );
@font-face {

    font-family: phase;
    
    src: url(../docs/Phase-AGX_91-85-74.ttf);
    
    }
    @font-face {

        font-family: keep;
        
        src: url(../docs/KeeponTruckin.ttf);
        
        }

body{
    font-family: 'Rubik', sans-serif, 'phase', "keep";
    right: 0;
    left: 0;
}

:root::-webkit-scrollbar{
    display: none;
}

/*MENU*/
header{
    position: fixed;
    width: 100%;
    z-index: 1;
}

.search{
    display: grid;
    grid-template-columns: 50% 50% ; 
    
}

.menubar{
    margin-left: 150px;
    margin-top: 30px;
}
.menu{
  
  background-color: #0040D0;
    width: 150px;
    padding: 5px 0px;
    border-radius: 30px 30px 30px 30px;
    border: none;
    font-weight: 600;
    font-size: 25px;
    color:#DAFEA4;
    cursor: pointer;
    text-decoration: none;

}
.menu:hover{
    text-decoration: none;
    background-color:#DAFEA4;
    color:#0040D0 ;
  
}
.logobar{
    display: flex;
    justify-content: flex-end;
    margin-top: 15px;
    margin-right: 15%;
}
.logoMenu{
    width: 6rem;
    height: 6rem;  
    text-decoration: none;
}




/*Footer*/

footer{
    background-color: #0040D0;
    color: #DAFEA4;   
    padding-top: 5%;
    cursor: pointer;  
    font-size: 2rem;      
}

.contentFooter , .redesSociales{
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}
.redesSociales{
    padding-top: 5%;
    display: flex;

}
.linkFooter, .otherlink{
    text-decoration: none;
    color: #DAFEA4;

}
.seccion{
    font-weight: bolder;
}

.colTres > img{
    width: 300px;
}

.otherlink{
    font-size: 1rem;
 
}

.redesSociales > li{
    padding-right: 50px;;
}




/*VENTANA MENU*/
.caja{
    background: radial-gradient(circle 580px, #DAFEA4, #fbf8f4);
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
   opacity: 0;
   pointer-events: none;
   z-index: 1;
  
} 

li > a{
    text-decoration: none;
}
.col-uno >a{
 text-decoration: none;
    
}
.col-uno > ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.mostrar{
opacity: 1;
pointer-events: unset;

}


.teporingx{
    font-family: 'phase';
    font-size: 10rem;
    color: #0040d0;
}
.submenu{
    color: #0040d0;
    font-size: 70px;
}

.submenu-dos{
    color: #0040d0;
    font-size: 50px;
    font-weight: lighter;
    padding-right: 2rem;
}

.col-uno{
    margin-left: 5%;
   
}


.btn-cerrar-menu{
    background: none;
    width: 250px;
    color: #0040d0;
    font-weight: 800;
    font-size: 2.5rem;
    border-radius: 30px 30px 30px 30px;
    border: 4px solid #0040d0;
    margin-top: 5%;
    margin-left: 65%;
    position: absolute;
    
}

.btn-cerrar-menu:hover{
    background-color: #0040d0;
    color: #dafea4;
}

.logo-menu{
   margin-left: 15%;
   margin-top: 30%;
}

.icon-menu{
    font-size: 2rem;
    color: #0040d0;
    padding-right: 2rem;
    
}

ul > .list-icon {
    display: inline-block;

 
}
ul {
    margin-left: 35%;
   
}

.submenu-dos:hover{
   text-decoration-line: underline;
   text-decoration-color: #0040d0;
    font-weight: 600;

}
.submenu:hover{
    background: #162802;
    color: #dafea4;
    font-weight: 800;
}

.icon-menu >i:hover{
    background: #162802;
    color: #dafea4;
    
} 



@media (max-width: 768px){

    /*MENU*/
    .search{
        display: flex;
        justify-content: space-between;
        
    }
    .logobar{
        margin-top: 0;
        margin-right: 0;
    }
    .menubar{
        margin-left: 0;
        margin-top: 0;
    }
.menu{
    padding: 5px 0px;
    font-size: 1rem;
}

.menubar{
    padding-top: 2%;
}

.logoMenu{
    width: 5rem;
    height: 5rem;  
}



/*MENU-MODAL*/


.teporingx{
    font-size: 3.5rem;

}
.submenu{
    font-size: 3rem;
}

.submenu-dos{
    font-size: 2rem;
  
}


.btn-cerrar-menu{
 width: 150px;
    font-size: 1.5rem;
  
}


.logo-menu{
    margin-left:25%;
    margin-top: 160%;
 }
 
 .icon-menu{
     font-size: 2rem;
     padding-right: 0rem;
     
 }


/*FOOTER*/
footer{
    padding-top: 15%;
}
.colTres{
    text-align: center;
}

.colTres > img{
    width: 300px;
    padding-top: 10%;
}

.redesLink{
   font-size: 1em;
}
.redesSociales > li{
    padding-right: 30px;
}


}